<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WildHacks 2015 Application</title>
  <meta name="description" content="Apply to WildHacks 2015, Northwestern's ONLY Hackathon!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- vendor.css is currently empty-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/rsvp.css">
  <link rel="stylesheet" href="css/flat-ui.css">
  <script src="js/flat-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
  <script src="js/controllers/wildhacks.js"></script>
</head>

<body>
    <div class='rsvp-page waitlist'>
      <h1>Aw, you just missed it!</h1>
      <div class="rsvp-blurb">
        <p>
          Sorry, our apps for WildHacks 2015 are now closed. If you're a Northwestern student, though, go ahead and email <a href='mailto:team@wildhacks.org'>team@wildhacks.org</a> and we'll sort something out.
        </p>
      </div>
    </div>
</body>

</html>