<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/dashboard.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
    <script src="js/controllers/wildhacks.js"></script>
  </head>
  <body ng-app="wildhacks">
    <div ng-controller="DashboardCtrl">
      <h1>Applicants</h1>
      <input type="text" ng-model="searchTerm" placeholder="School name..." ng-model-options="{ debounce:500 }">
      <button ng-click="acceptAll()">Accept All</button>
      <table id="applicants">
        <th>
          <td>Name</td>
          <td>School</td>
          <td>Year</td>
          <td>Travel</td>
          <td>Major</td>
          <td>Links</td>
          <td>Gender</td>
          <td>Hackathons</td>
          <td>Blurb</td>
          <td>Teammates</td>
        </th>
        <tr class={{applicant.status}} ng-repeat="applicant in (subset = (data | orderBy:'toString()' | filter:{ school:searchTerm })) track by $index">
          <td>
            <form action="">
              <input type="radio" name="status" ng-model="applicant.status" ng-change="toggle(applicant)" value="accepted">Accept</br>
              <input type="radio" name="status" ng-model="applicant.status" ng-change="toggle(applicant)" value="rejected">Reject</br>
              <input type="radio" name="status" ng-model="applicant.status" ng-change="toggle(applicant)" value="waitlisted">Waitlist</br>
            </form>
          <td>{{applicant['first-name']}} {{applicant['last-name']}}</td>
          <td>{{applicant.school}}</td>
          <td>{{applicant.year}}</td>
          <td>{{applicant.travel}}</td>
          <td>{{applicant.major}}</td>
          <td><a href="{{applicant.github}}">GitHub</a>|<a href="{{applicant.website}}">Website</a></td>
          <td>{{applicant.gender}}</td>
          <td>{{applicant.hackathons}}</td>
          <td class="blurb">{{applicant['why-do-you-want-to-come']}}</td>
          <td>{{applicant.teammates}}</td>
        </tr>
      </table>
    </div>
  </body>
</html>
