<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>WildHacks 2015 Application</title>
  <meta name="description" content="Apply to WildHacks 2015, Northwestern's ONLY Hackathon!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- vendor.css is currently empty-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/rsvp.css">
  <link rel="stylesheet" href="css/flat-ui.css">
  <script src="js/flat-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
  <script src="js/controllers/wildhacks.js"></script>
</head>

<body ng-app='wildhacks'>
  <div ng-controller='RsvpCtrl'>
    <div class='rsvp-page accepted' ng-if='status === "accepted"'>
      <h1 ng-class='{"page-clicked" : rsvp}'>You're in!</h1>
      <div class="rsvp-blurb" ng-show='!user.rsvp || user.rsvp == "waitlist"'>
        We'd love to have you at WildHacks this year! Please RSVP so we can make room for you.
      </div>
      <div class="rsvp-blurb" ng-show='user.rsvp == "not coming"'>
        Aw. Looks like you can't make it to WildHacks. If you ever change your mind we'll be right here!
      </div>
      <div class="rsvp-blurb" ng-show='user.rsvp == "coming"'>
        Yay! We're really looking forward to having you at WildHacks this year. <br> <a href="https://www.facebook.com/groups/542430769240793/">Join our WildHacks Attendees Facebook page here.</a>

      </div>
      <div class="rsvp-button-container">
        <a ng-click='user.rsvp = "coming"' target='_blank' ng-show='!user.rsvp || user.rsvp == "not coming" || user.rsvp == "waitlist"'>
          <button type="button" name="apply" ng-click='submitRsvp("coming")' class='rsvp-button btn btn-embossed btn-primary'>YES, I'M COMING!</button>
        </a>
        <a ng-click='user.rsvp = "not coming"' target='_blank' ng-show='!user.rsvp || user.rsvp == "coming" || user.rsvp == "waitlist"'>
          <button type="button" name="sponsor" ng-click='submitRsvp("not coming")' class='rsvp-button btn btn-embossed btn-danger' ng-hide=''>NO, I CAN'T MAKE IT</button>
        </a>
      </div>
      <div class="info" ng-class='{"info-clicked" : rsvp}' ng-if='user.rsvp == "coming"'>
        <p>
          There are just a few things to go over:
        </p>
        <form>
          <h6>Dietary Restrictions</h6>
          <label for='diet'></label>
          <input type='text' name='restrictions' ng-model='restrictions' class='diet' placeholder="Allergies, special considerations, etc."/>
          <button ng-click='submitDietaryRestrictions(restrictions)' type="button" name="button" class='btn btn-embossed btn-primary'>Submit</button>
          <h6>Buses</h6>
          <p>
            We are providing select buses to nearby schools:
          </p>
          <p>
            If you're coming from either <a href="https://www.eventbrite.com/e/wildhacks-2015-purdue-bus-tickets-18926217827?aff=es2">Purdue University</a>, <a href="https://www.eventbrite.com/e/wildhacks-2015-university-of-michigan-bus-tickets-18926289040?aff=es2">Univeristy of Michigan-Ann Arbor or Michigan State University</a>, <a href="https://www.eventbrite.com/e/wildhacks-2015-uiuc-bus-tickets-18926007197?aff=es2">UIUC</a>, <a href="https://www.eventbrite.com/e/wildhacks-2015-university-of-wisconsin-madison-bus-tickets-18926303082?aff=es2">University of Wisconsin-Madison</a>, or <a href="https://www.eventbrite.com/e/wildhacks-2015-canada-bus-tickets-19053019093?aff=es2">Canada</a> we'll be providing buses for transportation. Limited seats will be given on a first come first serve basis, so follow the appropriate link to your school's Eventbrite page to get your ticket.
          </p>
          <h6>Travel Reimbursements</h6>
          <p>
            If you're traveling, here are the reimbursements we offer. Check back soon for detailed travel reimbursement details, but for now basic travel reimbursements will be as follows:
          </p>
          <div class="reimbursement-wrapper">
            <table class='reimbursement'>
              <tr>
                <td>
                  Chicagoland
                </td>
                <td>
                  None
                </td>
              </tr>
              <tr>
                <td>
                  Midwest
                </td>
                <td>
                  Up to $75
                </td>
              </tr>
              <tr>
                <td>
                  Elsewhere
                </td>
                <td>
                  Up to $200
                </td>
              </tr>
            </table>
          </div>
        </form>
      </div>
    </div>
    <div class='rsvp-page waitlist' ng-if='status === "waitlist"'>
      <h1 ng-class='{"page-clicked" : rsvp}'>Wait for it...</h1>
      <div class="rsvp-blurb " ng-show='!user.rsvp'>
        We don't know if we'll have enough room for you right now, but if you'd like you can join our waitlist, and we'll let you know your status during the next round of applications!
      </div>
      <div class="rsvp-blurb" ng-show='user.rsvp == "not coming"'>
        Aw. You opted out of the waitlist. If you ever change your mind we'll be right here!
      </div>
      <div class="rsvp-blurb" ng-show='user.rsvp == "waitlist"'>
        Sweet! You're on the waitlist. We'll be sure to let you know if spots open!
      </div>
      <div class="rsvp-button-container">
        <a ng-click='user.rsvp = "waitlist"' target='_blank' ng-show='!user.rsvp || user.rsvp == "not coming"' >
          <button type="button" name="apply" ng-click='submitRsvp("waitlist")' class='rsvp-button btn btn-embossed btn-primary'>PUT ME ON THE WAITLIST</button>
        </a>
        <a ng-click='user.rsvp = "not coming"' target='_blank' ng-show='!user.rsvp || user.rsvp == "waitlist"'>
          <button type="button" name="sponsor" ng-click='submitRsvp("not coming")' class='rsvp-button btn btn-embossed btn-danger'>NO THANKS</button>
        </a>
      </div>
      <div class="info" ng-class='{"info-clicked" : rsvp}' ng-if='user.rsvp == "waitlist"'>
        <p>
          There are just one more thing we need to know:
        </p>
        <form>
            <h6>Dietary Restrictions</h6>
            <label for='diet'></label>
            <input ng-model='restrictions' type="text" class='diet' name="diet" value="" placeholder="Allergies, special considerations, etc.">
            <button ng-click='submitDietaryRestrictions(restrictions)' type="button" name="button" class='btn btn-embossed btn-primary'>Submit</button>
        </form>
      </div>
    </div>
    <div class='rsvp-page declined' ng-if='status === "rejected"'>
      <h1>Sorry :(</h1>
      <div class="rsvp-blurb">
        <p>
          Unfortunately we've gotten more applicants than we have the capacity to accept. Don't worry, there's always next year!
        </p>
      </div>
    </div>
    <div class='rsvp-page pending' ng-if='status === "pending"'>
      <h1>Uh... give us a few</h1>
      <div class="rsvp-blurb">
        <p>
          We're still looking at your app, but we'll let you know as soon as possible!
        </p>
      </div>
    </div>
  </div>
  <script>
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-67298926-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
