table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.accepted { background-color: lightgreen; }
.rejected { background-color: red; }
.waitlist { background-color: yellow; }
.unfinished { background-color: gray; }
.pending { background-color: lightblue; }
