body {
  margin: 0 0 0 0;
}

section {
  overflow-x: hidden;
}

.header-photo {
  width: 100%;
  margin-top: 0;
  text-align: center;
}

.navbar {
  border-radius: 0;
}

.navbar-nav li a {
  line-height: 53px;
}

.section-header {
  text-align: center;
}

.general .links {
  margin-left: 10%;
  margin-right: 10%;
}

.table-header {
  font-weight: bold;
  color: #2C3E50;
}

.hacking-row {
  color: white;
  border-radius: 8px;
}

.hacking-row-begin {
  background-color: #1abc9c;
}

.hacking-row-end {
  background-color: #E74C3C;
}

.directions-map {
  width: 100%;
}

.maps h3,
.maps h5 {
  margin-left: 10%;
}

.hardware-info p {
  text-align: center;
}

.hardware ul {
  list-style-type: none;
  text-align: center;
}

.faq .row {
  margin-left: 10%;
  margin-right: 10%;
}

.prizes h5{
  font-size: 24px;
  color: #1abc9c;
}

.prizes .col-md-6{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px){
  .navbar-brand {
    line-height: 56px;
  }

  .faq .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .maps h3,
  .maps h5 {
    margin-left: 0px;
  }

  .prizes .col-md-6{
    margin-left: 25%;
    margin-right: 25%;
  }

  .hardware {
    margin-left: 0;
  }

  .general .links {
    margin-left: 0;
    margin-right: 0;
  }

}
