* {
  margin: 0 0 0 0;
}

section {
  min-height: 100vh;
}

h1,
h2 {
  font-family: 'Montserrat', Arial, sans-serif;
}

.social-links {
  position: fixed;
  z-index: 99;
  right: 1%;
  top: 5%;
}

.social-links a i {
  margin-left: 2%;
  color: #f4f4f4;
  transition: all .5s ease;
}

.social-links a i:hover {
  margin-left: 2%;
  color: #16a085;
}

.glyphicon {
  margin-top: 10px;
  font-size: 3rem;
}

.content {
  padding-right: 12%;
  padding-left: 12%;
}

.clouds-container {
  overflow: hidden;
  height: 200%;
  width: 100%;
  position: absolute;
}

.cloud {
  position: absolute;
  z-index: 9999;
  opacity: .6;
}

#cloud1 {
  top: 25vh;
}

#cloud2 {
  top: 150vh;
}

#cloud3 {
  top: 60vh;
}

#cloud4 {
  top: 110vh;
}

#cloud5 {
  top: 175vh;
}

#cloud6 {
  top: 5vh;
}

#cloud7 {
  top: 90vh;
}

.landing-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  padding: 5%;
  text-align: center;
  background-color: #d7ede8;
}

.landing-section .content {
  width: 100%;
  height: 100%;
}

.logo-container {
  display: inline-block;
}

.logo {
  height: 40%;
  margin-top: 20%;
}

.landing-section h1 {
  font-size: 6em;
  margin-top: 10px;
}

.landing-section h2 {
  font-size: 3em;
  font-weight: 300;
  margin-top: 10px;
}

.sponsor-button,
.submit-button {
  font-size: 2em;
  letter-spacing: 4px;
}

.mini-section {
  height: auto;
  min-height: 100vh;
}

#schedule-section{
  height: auto;
  min-height: 10vh;
}

.above-ground .content {
  position: relative;
  display: table-cell;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.header h2 {
  font-size: 4em;
}

.description strong {
  color: #faa629;
}

.about-section {
  height: 50%;
}

.about-header h2 {
  color: #faa629;
}

.above-ground {
  min-height: 250vh;
  background-color: #d7ede8;
  background-image: url('../images/city.svg');
  background-repeat: no-repeat;
  background-position: 65% bottom;
  background-size: cover;
}

.apply-header {
  color: #34495e;
}

.application input {
  font-size: 40px;
  line-height: 80px;
  height: 80px;
  margin-bottom: 40px;
}

.already-registered, .no-wait {
  color: #34495e;
  font-size: 2em;
}

.already-registered:hover, .no-wait:hover {
  cursor: pointer;
}

.submit-button-container {
  text-align: center;
}

.below-ground-1 {
  background-color: #fdd59c;
  position: relative;
  /*background-image: url('../images/rock.svg');*/
}

.sponsors-section {
  text-align: center;
}

.sponsors-header {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 1.5em;
}

.sponsor-row p {
  font-size: 2rem;
}
.sponsor-row div,
.partner-row div {
  height: 125px;
  margin-top: 30px;
}

.sponsor-row img,
.partner-row img {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.below-ground-2 {
  background-color: #f37046;
  height: auto;
  min-height: 10vh;
  background-image: none;
  background-position: top right;
  background-repeat: no-repeat;
}

.dino-skull {
  position: absolute;
  height: 500px;
  right: 5%;
  fill: #f5f5f5;
}

.schedule-header {
  color: #fdd59c;
}

.schedule tr {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
}

.schedule p {
  font-size: 2rem;
}

.schedule-row p {
  text-align: center;
  margin-top: 30px;
}

.schedule p{
  text-align: left !important;
}

td h3 {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #fdd59c;
}

td p {
  margin: 0 0 0 0;
  color: #d7ede8;
}

.below-ground-3 {
  background-color: #833a1c;
}

td h3 {
  font-size: 1em;
}

.time {
  padding-right: 50px;
  vertical-align: top;
}

.faq {
  width: auto;
}

.faq-item p {
  font-size: 2em;
}

.faq-header .header {
  color: #d7ede8;
}

.question {
  color: #fdd59c;
}

.faq p {
  color: #d7ede8;
}

.faq-bottom {
  height: 200px;
}

/* Navbar */

.navbar {
  position: fixed;
  z-index: 1000;
  top: 50%;
  right: 10px;
  width: 20px;
  min-height: 0;
  margin-bottom: 0;
  -webkit-transform: translateY(-50%);
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0);
}

.nav li a {
  width: 15px;
  max-width: 20px;
  height: 15px;
  margin-bottom: 20px;
  margin-left: 5px;
  border: 2px white solid;
  border-radius: 100%;
  background-color: none !important;
}

.navbar-nav > li > a {
  padding: 0 0 0 0;
}

.navbar-inverse .navbar-nav > .active > a {
  border-color: #1abc9c;
  background-color: rgba(0, 0, 0, 0);
}

.navbar-inverse .navbar-nav a:hover {
  background-color: white !important;
}

.navbar-inverse .navbar-nav .active a:hover {
  background-color: #1abc9c !important;
}

.navbar-inverse .navbar-nav > .active {
  transition: all .2s linear;
  border-color: #1abc9c;
}

.navbar-nav {
  float: none;
  background-color: none !important;
}

.description p,
.schedule,
.faq .question {
  font-size: 3em;
}

.register-status {
  color: #34495e;
  font-size: 2em;
}

@media screen and (min-device-width: 480px) {

  .logo {
    margin-top: 5%;
    height: 300px;
  }
  .landing-section h1 {
    font-size: 3em;
  }
  .landing-section h2 {
    font-size: 1.5em;
  }
  .sponsor-button,
  .submit-button {
    font-size: 1em;
  }
  .above-ground {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
  }
  .description p,
  .sponsor-row p,
  .schedule,
  .faq .question {
    font-size: 1.2em;
  }

  .register-status {
    font-size: 1em;
  }

  .already-registered,
  .no-wait {
    font-size: 1em;
  }

  .faq p {
    font-size: 1em;
  }

  .application .input-container {
    height: 70px;
  }

  .application input {
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    margin-bottom: 0px;
  }

}

.error {
  color: red;
}

@media (min-device-width: 992px) {
/*  Custom column width for 5 column row*/
  .col-md-2-4 {
    width: 20%;
    float: left;
  }
  .col-md-offset-2-4 {
    margin-left: 20%;
  }
  .col-md-offset-1-2 {
    margin-left: 10%;
  }
}

.application-toggle{
  color: #34495e;
}
